[Unit]
Description=wpeframework-plugins-tvcontrol

[Service]
PIDFile=/var/run/TVplayback.pid -b
ExecStart="/var/run/TVplayback.pid -b"
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
